body{
    background-color:rgb(159,58,53);
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50pt;
    color: white;
}
p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:12pt;
    color: white;
}
div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    width:100px;
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
}
#headline{
    height: 50px;
    border:solid black;

}
#bigtitle{
    height: 500px;
    margin-left:auto;
    margin-right:auto;
}