---
---
@import "{{site.theme}}";

#home_page{
  font-size:20px;
  color:#f2f2f2;
  display: block;
  float: right;
  margin:0px 10px 0px 10px;
  width:50px;
  height:30px;
}
#about_page{
  font-size:20px;
  color:#f2f2f2;
  display: block;
  float: right;
  margin: 0px 10px 0px 10px;
  width:50px;
  height:30px;
}
#previous_post{
  font-size:16px;
  color: #f2f2f2;
  display: block;
  margin: 0px 0px 10px 0px;
  text-decoration:none;
}
#next_post{
  font-size:16px;
  color: #f2f2f2;
  display: block;
  margin: 0px 0px 10px 0px;
  text-decoration: none;
}
#next_post:hover{
  text-decoration: underline;
}
#previous_post:hover{
  text-decoration: underline;
}
//set my background
body{
  background: url(../images//bg1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#main_content_wrap{
  background: rgba(#f2f2f2,0.8);
}
a{
  color: darkslategrey; 
}
.main-nav{
  font-size:20px;
  color:#f2f2f2;
  display: block;
  float: right;
  margin: 0px 10px 0px 10px;
}
.current{
  color:#f2f2f2;
  display: inline-block;
  text-decoration-style: none;
  margin: 0px 10px 0px 10px;
}